# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter & Dart Build artifacts
build/
.dart_tool/
.pub-cache/
.pub/

# Android
.gradle/
local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release

# Environment & Secrets
.env
